
<section id='player_name'>
  <%= @player1 %> vs. <%= @player2 %>
</section>

<section id='health'>
  <div player1="<%= @health1 %>"><%= @health1 %>/<%= @default_health %> HP</div>
  <div player2="<%= @health2 %>"><%= @health2 %>/<%= @default_health %> HP</div>
</section>

<section id='attack'>
  <form action='/attack'>
    <input id='attack' type='submit' value="Attack"/>
    <input type="hidden" name="who_attacks" value="<%= @player1 %>"/>
  </form>
</section>